*.class
*/lib/*
*.swp
.pytest_cache
*/__pycache__
*/data
*.mp4
*/temp
python/资料/
temp
./*.html
books
githubRepo
diary.md
base/src/leetcode/question
AI/AbandonObject.md
*.exe
.vscode/
leetcode.code-workspace
Note.code-workspace
