*.class
*/lib/*
*.swp
.pytest_cache
*/__pycache__
*/data
*.mp4
*/temp
python/资料/
temp
./*.html
books
githubRepo
diary.md
base/src/leetcode/question
AI/AbandonObject.md
*.exe
.vscode/
leetcode.code-workspace
Note.code-workspace
big_data/资料/个人资料
/booknote/zhizhi/*
C/资料/*
lang
YourBrain.html
